<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Melodix"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="false"
            tools:ignore="AppLinkUrlError">
        </activity>

        <activity
            android:name=".PlayerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="melodix" android:host="song" />
            </intent-filter>
        </activity>
        <service
            android:name=".Service.AudioPlayerService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />


        <activity
            android:name=".View.auth.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask"> <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="callback"
                    android:scheme="melodix" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LyricsActivity"
            android:exported="false" />

        <activity android:name=".View.AlbumDetailActivity" android:exported="false" />
        <activity android:name=".View.ArtistDetailActivity" android:exported="false" />
        <activity android:name=".View.ArtistSongsActivity" android:exported="false" />
        <activity android:name=".View.ArtistAlbumsActivity" android:exported="false" />
        <activity android:name=".View.auth.RegisterActivity" />
        <activity android:name=".ArtistActivity" />
        <activity android:name=".View.artist.UploadSongActivity" />

        <activity android:name=".AdminActivity" />"

        <activity android:name=".View.profile.AdminProfileActivity"
                  android:exported="false"/>
        <activity android:name=".View.artist.CreateAlbumActivity" />
        <activity android:name=".View.artist.ManageSongActivity" />
        <activity android:name=".View.artist.ArtistAnalyticsActivity" />


    </application>

</manifest>